/* OrderForm.module.css */

.order-form-container {
  overflow-y: auto;
  max-height: 100vh;
  width: 100%; /* Đặt chiều rộng 100% */
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4; /* Màu nền xám nhạt */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.order-form-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px; /* Tăng kích thước font cho tiêu đề */
}

.order-form {
  display: flex;
  flex-wrap: wrap; /* Dùng để xếp cột khi không đủ không gian */
  justify-content: space-between;
}

.form-left,
.form-right {
  width: 48%; /* Sử dụng khoảng 48% chiều rộng để làm cho cả hai cột bằng nhau */
}

.form-label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px; /* Điều chỉnh kích thước font cho nhãn */
}

.form-input,
.form-textarea,
.form-select {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%; /* Đặt chiều rộng 100% cho tất cả các trường nhập */
}

.form-textarea {
  resize: vertical;
}

.form-button {
  margin-top: 15px;
  padding: 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px; /* Tăng kích thước font cho nút */
  align-self: flex-end; /* Đặt nút ở dưới bên phải */
}

.form-button:hover {
  background-color: #2980b9;
}
.payment-method-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-method-options label {
  display: flex;
  align-items: center;
}

.payment-method-options input {
  margin-right: 5px;
}

.payment-method-options img {
  width: 40px; /* Điều chỉnh kích thước theo ý muốn */
  height: auto; /* Giữ tỉ lệ khung hình */
}